
// Fonts
//@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
//@import url("https://use.fontawesome.com/releases/v5.0.9/css/all.css");

// Variables
//@import "variables";

// Bootstrap
//@import '~bootstrap/scss/bootstrap';

@import '~semantic-ui-css/semantic.min.css';


.filter-item.ui.dropdown{
  width: 52px;
  &>.text .filter-item-title{
    display: none;
  }
  .menu {
    &>.item{
      padding: 2px 10px !important;
    }
    img{
      width: 16px;
      margin-right: 5px;
      border-radius: 2px;
    }
  }
}

.ui.pico.image{
  width: 22px;
  height: auto;
  margin: 1px;
}

.ui.search.selection img{display: none !important}

.ui.steps .step{
  padding-left: 15px !important;
  padding-bottom: 2px;
  padding-top: 2px;
  padding-right: 11px;
  height: 28px;
}